.wrapper {
  display: flex;
  justify-content: space-around;
  height: 100vh; 
  /* 높이가 없으면 child의 속성 align-self 가 적용되지 않음*/
}

.child{
  width : 200px;
  height : 200px;
  background: cornflowerblue;
  color : white;
}

.child:nth-child(2) {
  align-self: center;
}

.child:nth-child(3) {
  align-self: flex-end;
}

/* 
자식 요소에만 줄 수 있는 속성
1. order
2. align-self 
*/