.grid {
  display: grid;
  gap : 5px;
  height: 50vh;
  /* fr로 지정하면 동일한 4개의 박스가 생김
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); */
  grid-template: 
  "header header header header" 1fr /* how tall is the row */
  "content content content nav" 2fr 
  "footer footer footer footer" 1fr / 1fr 1fr 1fr 1fr /* column height*/
  ;
}

.header {
  background-color: cadetblue;
  grid-area: header;
}

.content {
  background-color: darkgray;
  grid-area: content;
}

.nav {
  background-color: rosybrown;
  grid-area: nav;
}

.footer {
  background-color: darkcyan;
  grid-area: footer;
}


/*
보통 부모요소에 grid 속성을 적용함
*/