.grid {
  color : #ffffff;
  display: grid;
  gap : 10px;
  height: 250vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
}

.header {
  background-color: cadetblue;
  /* align-self : end;
  justify-self: center; */
  place-self: end center;
}

.content {
  background-color: darkgray;
}

.nav {
  background-color: rosybrown;
}

.footer {
  background-color: darkcyan;
}


/*
보통 부모요소에 grid 속성을 적용함
*/